@charset "uft-8";

body,ul,li,p,div,h1,h2,h3,h4,h5,h6,ol,dl,dt,dd{margin:0; padding:0;}
body{font:normal 12px "맑은 고딕";}
ul,ol{list-style: none;}
a{text-decoration: none;}
img{vertical-align: top; border:0;}
/*basic css end*/

@font-face {
	font-family : ‘boot’;
    src: local (‘rubik’), url (../rubik.ttf);/*local엔 폰트명을 입력한다.*/}


#wrap{
    width: 100%;
    margin: 0 auto;
    text-align: center;}

#wrap img{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;}

#wrap .intro{
    margin: 0 auto;
    background: #5064ff;
    width:500px;
    padding: 5px 0;}
.intro p{
    color: #fff;}


.jumbotron{                                 background:url(../img/KakaoTalk_20180211_101714786.jpg);
    background-size: cover;
    background-position: top;}

.grid_img{
    font-size: 25px;}
.products{
    font-family: 'boot';}
.products img{
    width: 100px;
    margin: auto;
    display: block;
    margin-bottom: 20px;}

.form{
    background: #333;}

.responsive{}
.responsive dt{
    font-size: 20px;
    padding: 5px 0;
}
.responsive dd{
    font-size: 15px;
    padding: 0px 0 10px 0;
}

.yellow-box {
    position: absolute;
    background-color: yellow;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.box-wrap {
    position: relative;
    opacity: 0.5;
}
